<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/meta') %>
    </head>
    <body>
        <%- include('partials/nav') %>
        <section class="container">
                <article id="search">
                    <div class="card m-4">
                        <h5 class="card-header">Ref No</h5>
                        <div class="card-body">
                            <form class="d-flex" id="formSearchaof">
                                <div class="m-2">
                                    <select class="form-control" name="type" id="searchaof" required>
                                        <option value="FISTACK_AOFNO" selected>Search Ref No</option>
                                    </select>
                                </div>
                                <div class="m-2">
                                    <input class='form-control' type="text" id="firstidno" name="firstidno">
                                </div>
                                <div class="m-2">
                                    <input class="btn  btn-primary btn-sm" type="submit" value="Search">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="reftable" class="m-4">
                    </div>
                    <!-- loader  -->
                    <div id="searchaofLoader" class="text-center mt-2">
                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                        </div>
                    </div>
                    <div class="card m-4">
                        <h5 class="card-header">Agent Details</h5>
                        <div class="card-body">
                            <form class="d-flex" id="formSearchagentdetails">
                                <div class="m-2">
                                    <select class="form-control" name="type" id="searchagentdetails" required>
                                        <option value="FISTACK_INB_BCMASTER" selected>Search Agent details</option>
                                    </select>
                                </div>
                                <div class="m-2">
                                    <input class='form-control'type="text" id="koid" name="koid">
                                </div>
                                <div class="m-2">
                                    <input class="btn  btn-primary btn-sm" type="submit" value="Search">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="agenttable" class="m-4" >
                    </div>
                    <div id="searchagedetailsLoader" class="text-center mt-2">
                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                        </div>
                    </div>
                </article>
        </section>
        <%- include('partials/navScript') %>
        <%- include('partials/useFetch') %>
        <%- include('partials/script') %>
        <script>
            formSearchaof.onsubmit = async (e) => handleSubmit(e, formSearchaof, 'searchaofLoader')
            formSearchagentdetails.onsubmit = async (e) => handleSubmit(e, formSearchagentdetails, 'searchagedetailsLoader')
        </script>
    </body>
</html>